<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado das Eletivas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Resultado das Eletivas</h1>

        <div class="counters">
            <div id="alunosComEletiva"></div>
            <div id="alunosSemEletiva"></div>
        </div>
        <div class="select-container">
            <select id="eletiva-select">
                <option value="">Selecione uma eletiva</option>
                </select>
        </div>

        <div class="tables-container">
            <div id="table-container">
                </div>
        </div>        
    </div>
    <div id="generic-popup" class="hidden popup-overlay">
        <div class="popup-content">
            <div class="popup-message"></div>
            <button class="popup-ok-button">OK</button>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>